
:root {
  --background: oklch(0.9842 0.008 248.55);
  --foreground: oklch(0.2557 0.019 253.57);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2557 0.019 253.57);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2557 0.019 253.57);
  --primary: oklch(0.7951 0.147 288.48);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9473 0.006 251.11);
  --secondary-foreground: oklch(0.4146 0.016 252.79);
  --muted: oklch(0.9473 0.006 251.11);
  --muted-foreground: oklch(0.55 0.01 250);
  --accent: oklch(0.8917 0.09 14.38);
  --accent-foreground: oklch(0.4146 0.016 252.79);
  --destructive: oklch(0.85 0.15 20);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9283 0.007 250.39);
  --input: oklch(0.9283 0.007 250.39);
  --ring: oklch(0.7951 0.147 288.48);
  --chart-1: oklch(0.97 0.04 15.58);
  --chart-2: oklch(0.96 0.04 250.09);
  --chart-3: oklch(0.96 0.04 289.33);
  --chart-4: oklch(0.97 0.04 154.03);
  --chart-5: oklch(0.942 0.06 84.47);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2557 0.019 253.57);
  --sidebar-primary: oklch(0.92 0.05 250);
  --sidebar-primary-foreground: oklch(0.4 0.1 255);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2046 0 0);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.7090 0 0);
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.75rem;
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.06), 0 2px 4px -2px rgb(0 0 0 / 0.06);
  --shadow-md: 0 10px 15px -3px rgb(0 0 0 / 0.07), 0 4px 6px -4px rgb(0 0 0 / 0.07);
  --shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.08), 0 8px 10px -6px rgb(0 0 0 / 0.08);
  --shadow-xl: 0 25px 50px -12px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
